@media all and (min-width: 991px){
	.banner-content hr {
	  margin: 8px 190px;
	}
}

@media all and (max-width: 991px){
	.menu {
		display: none;
	}
	.menu ul{
		justify-content: start;
		flex-direction: column;
	}

	.menu ul li {
		margin-top: 1rem;
		}

	.logo{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	

	 

	.logo a i {
		color: #FFF;
		font-size: 2.5rem;
		border: 1px solid #FFF;
		border-radius: 3px;
		padding: 5px 10px;
	}

	.logo a i:hover{
		background: #02baab;
	}

	.menu-icon{
		display: block;
	}

	/******** banner content **********/
	.banner-content {
		margin: 6rem 0;
	}

	.banner-content h1{
		font-size: 4.2rem;
	}

	.banner-content hr {
		margin: 9px 125px;
		 
	}

	.banner-text {
		padding-bottom: 8rem;
	}

	.banner-content h2{
		font-size: 1.8rem;

	}

	/****single button****/
	.single-button{
		left: 37%;
	}

	/***********form responsive*************/

	
	.contact-form .input1 {
    	margin-right: 0;
	}

	.contact-form .input2{
		margin-top: 2rem;
	}

	.contact-form .input3{
		width: 569px;
	}

	.sub-content h3{
		line-height: 13px;
		font-size: 2rem;
	}


	.main-overlycontent{
		margin-top:15rem;
	}
	
	.sub-content p{
		font-size: 1.9rem;
	}
}


@media all and (max-width: 767px){

	/***** Banner content****/
	.banner-content {
		margin: 3rem 0;
	}

	.banner-content h1{
		font-size: 3.7rem;
	}

	.banner-text {
		padding-bottom: 5rem;
	}

	.banner-content hr {
		margin: 6px 42px; 
	}

	/****single button****/
	.single-button{
		left: 32%;
	}

	/****works responsive*****/
	.skills-workflow {
		margin-bottom: 3rem;
	}

	.portfolio-single-item {
		margin-bottom: 4rem;
	}

	/***form responsive***/
	.contact-form .input3 {
		width: 520px;
	}

	/*footer icon responsive*/
	.footer-icon ul li{
		width:7rem;
		height: 7rem;
	}

	.footer-icon ul li{
		padding: 0;
	}

	.footer-icon ul li a {
		line-height: 6rem;
	}

	.footer-icon{
		margin: 0px 100px;
	}

	.sub-content h3{
		line-height: 23px;
		font-size: 3rem;
	}

	.main-overlycontent{
		margin-top:13.6rem;
	}


} 


@media all and (max-width: 575px){

	.banner-content {
		margin: 1.7rem 0;
	}
	.banner-content h1{
		font-size: 2.5rem;
	}

	.banner-content h2 {
		font-size: 1.3rem;
	}

	.banner-content hr {
		display: none;
	}

	/****single button****/
	.single-button{
		left: 25%;
	}

	.btn-sty-1{
		width: 20rem;
	}

	/**** Rapihel section ****/
	.introduction-content h2 {
		color: #6c7979;;
		line-height: 23px;
		margin: 0px 17px;
		text-align: justify;
}

	/*form responsive*/
	.contact-form .input1,
	.contact-form .input2{
		width: 300px;
		height: 66px;
	}
	.contact-form .input3 {
   	 width: 300px;
	}
 	/*footer icon responsive*/
	.footer-icon{
		margin: 0px 20px;
	}

	 .extra-class{
	 	flex-direction: column;

	 }
}


 
